---
import styles from "../styles/styles.css"
const { eventName, stage, time, group, link, billede } = Astro.props;

---

  <article>
    <img src={billede} alt="" />
    <div>
      <h2>{eventName}</h2>
      <p>{stage}</p>
      <p>{time}</p>
      <p>{group}</p>
    </div>
    <a class="selectProgram" href={link}><span>Read More</span> </a>
  </article>


<style>
  @import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
  article {
    background-color: pink;
    justify-content: center;
    
  }

  div {
    text-align: center;
    justify-content: center;
  }

  .selectProgram span{
    display: flex;
    text-align: center;
    justify-content: center;
  
  
}

p, h2, span {
    font-family: 'Calibri', cursive;
    text-align: center;
    color: #534741;;
  }

span{
  color: white;
  font-size: large;
  background-color: #bf4565;
  padding: 1rem;
}
</style>
